# Set AREANAME environment variable via command line like so...
# docker-compose run -d --rm -e AREANAME=monaco -e RAM_GB=2 --name=pt-monaco planetiler
# show logs
# docker logs -f pt-monaco

# Monaco is default Area
# for area names @see https://download.geofabrik.de/europe.html

# @see https://github.com/onthegomap/planetiler

version: '3'
services:
  # this builds the "planetiler:0.9.2" image on which the other gen-* services are based on
  planetiler:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PLANETILER_VERSION: 0.9.2
    image: planetiler:0.9.2 # defines the name of the image which is build from the Dockerfile
    volumes:
      - ./output:/output
      - ./sources:/tmp/data/sources
    command: ["true"]


  # yml base template for the gen-xyz services
  .gen-TEMPLATE: &gen-TEMPLATE
    image: planetiler:0.9.2
    depends_on:
      - planetiler
    volumes:
      - ./output:/output
      - ./sources:/tmp/data/sources



  gen-planet:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=planet
      - RAM_GB=100
      - BOUNDS="--bounds=world"

  gen-great-britain:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=great-britain
      - RAM_GB=12

  gen-monaco:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=monaco
      - RAM_GB=1
      - FORMAT=pmtiles

  gen-switzerland:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=switzerland
      - RAM_GB=4
      - FORMAT=pmtiles

  gen-sweden:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=sweden
      - RAM_GB=4



  gen-massachusetts:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=massachusetts
      - RAM_GB=4
      - FORMAT=pmtiles


  gen-portugal:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=portugal
      - RAM_GB=4


  gen-us-pacific:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=us-pacific
      - RAM_GB=4

  gen-austria:
    <<: *gen-TEMPLATE
    environment:
      - AREANAME=austria
      - RAM_GB=8
      - FORMAT=pmtiles
